

ul{
    padding: 0;
    list-style: none;

}
body{
    font: 15px arial, sans-serif;
}

li{
    padding: 2px;
}

li ul li{
    border-top: 1px solid black;
}


#header{
    font-size: xx-large;
    font-weight: 900;
}

#lstBlank{
    border: 1px solid black;
    list-style: none;
    width: 18em;
    padding: 10px;
    
}

#start{
    border-top: 1px solid black;

}

#calories{
    font-weight: bold;
    border-top: 12px solid black;

}

#nutrientsLimit{
    border-top: 6px solid black;
}

#nutrientsEnough{
    border-top: 12px solid black;
}

/* children in limit */
ul#nutrientsLimit ul .alignleft {
    padding-left: 1em;
    font-weight: normal;
}
/* children of children in limit */
ul#nutrientsLimit ul ul .alignleft {
    padding-left: 2em;
    font-weight: normal;
}

/* all in limit */
ul#nutrientsLimit .alignleft {
    font-weight: bold;
}

.alignleft {
     float: left;
     margin-right: 2pt;
}
           

#nutrientsLimit .alignright {
    font-weight: bold;
}

.alignright {
	float: right;
}
